@charset "UTF-8";
body {
    background-image: linear-gradient(to right, rgba(34, 250, 14, 0.29), rgba(8, 177, 255, 0.484));
}
main {
background: white;
margin: auto;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.285);
width: 600px;
border-radius: 10px;
padding: 10px;
}
h1 {
    color: blue;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    text-decoration-line: underline;

}
h2 {
    color: rgb(81, 156, 156);
    text-align: center;
}